@import "tailwindcss";

@theme {
  --color-surface: #141312;
  --color-surface-dim: #141312;
  --color-surface-bright: #3b3937;
  --color-surface-container-lowest: #0f0e0d;
  --color-surface-container-low: #1d1b1a;
  --color-surface-container: #211f1e;
  --color-surface-container-high: #2b2a28;
  --color-surface-container-highest: #363433;
  --color-on-surface: #e6e1df;
  --color-on-surface-variant: #e3beb3;
  --color-inverse-surface: #e6e1df;
  --color-inverse-on-surface: #32302f;
  --color-outline: #aa897f;
  --color-outline-variant: #5b4138;
  --color-primary: #ffb59c;
  --color-on-primary: #5c1900;
  --color-primary-container: #ff5e1a;
  --color-on-primary-container: #551700;
  --color-inverse-primary: #aa3600;
  --color-primary-fixed: #ffdbcf;
  --color-primary-fixed-dim: #ffb59c;
  --color-on-primary-fixed: #390c00;
  --color-on-primary-fixed-variant: #822800;
  --color-secondary: #f3bc8b;
  --color-on-secondary: #4a2804;
  --color-secondary-container: #67401a;
  --color-on-secondary-container: #e4ae7e;
  --color-secondary-fixed: #ffdcc0;
  --color-secondary-fixed-dim: #f3bc8b;
  --color-tertiary: #d4c3bd;
  --color-tertiary-fixed: #f1dfd8;
  --color-tertiary-fixed-dim: #d4c3bd;
}

body {
  font-family: 'Manrope', 'Anuphan', sans-serif;
  background-color: #141312;
  color: #e6e1df;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  vertical-align: middle;
}
